.button-positive{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$positive+1,365eed+100 */
  background: $positive; /* Old browsers */
  background: -moz-linear-gradient(top, $positive 1%, $positiveDark 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $positive 1%,$positiveDark 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $positive 1%,$positiveDark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$positive', endColorstr='$positiveDark',GradientType=0 ); /* IE6-9 */

  color: white;
  text-shadow: 1px 1px 0px $positiveDark;

}
